_site
.sass-cache
.jekyll-metadata
*.gem
vendor
.bundle
.DS_Store
.sass-cache
_asset_bundler_cache
Gemfile.lock
a.exe
*.swp
link_only/stock_vis/daily
images/deep_learning_basics/qudratic_regression/*.png
