---
layout: page
---

<div class="page-container">
  <div class="profile">
  <img src="/images/about/photo.jpg" alt="" class="portrat"/>


  <p class="profile-title">Benjamin Black</p>
  {% include author-urls.html %}
  </div>
  <p>
      I am a computer scientist and software engineer. In 2021, I recived a
      M.S. in Computer Science from the University of Maryland. In 2018 I graduated from
      from Reed College with a B.A. in Computer Science.
  </p>

  <p>
    The focus of my M.S. work was on reinforcement learning, particularly multi-agent
    reinforcement learning evaluation.
    My undergrad work was focused on CS theory,
    computer systems, and parallel processing.
  </p>

  <p>
    However, despite these credentials,
    I still consider myself a self-taught programmer who learned by creating cool
    software projects relating to challenges in AI, Computer Systems, and games.
  </p>

  <h2>Major Projects</h2>

  {% include gallery.html group="projects" %}


</div>
