---
layout: page
---

<div class="page-container">
  <div class="profile">
  <img src="/images/about/photo.jpg" alt="" class="portrat"/>


  <p class="profile-title">Benjamin Black</p>
  {% include author-urls.html %}
  </div>
  <p>
      I am a computer scientist and software engineer, with experience 
      working in industry and academia settings, with deep experience in machine learning 
      and high performance algorithms, services, and applications. 
  </p>

  <p>
      Much of my professional work satisfaction comes from working with scientists: experts in
      diganostic medicine, pharamacutical development, physics, computational chemistry, and more. 
      I enjoy learning their language, learning the fundamental science behind their insights 
      and helping finding solutions to their real-world problems using software.
  </p>

  <p>
    As a hobby programmer, I consider myself self-taught, learned primarily by building exciting software projects 
    relating to challenges in Machine Learning, Computer Systems, and games/puzzles. These self-driven projects
    have a strong focus on computer science fundamentals, focusing on observing the beautiful outcome of 
    well-chosen algorithms and well-designed software patterns. 
  </p>

  <p>
    On this site, I hope to share some of these projects: the beautiful problems I've encountered
    and their clean and targeted solutions.
  </p>

  <h2>Major Projects</h2>

  {% include gallery.html group="projects" %}


</div>
