---
layout: page
---

<div class="page-container">
  <div class="profile">
  <img src="/images/about/photo.jpg" alt="" class="portrat"/>


  <p class="profile-title">Benjamin Black</p>
  {% include author-urls.html %}
  </div>
  <p>
      I am a computer scientist and software engineer, with experience 
      working in industry and academia settings, with projects in machine learning 
      and high performance algorithms and services. 
  </p>

  <p>
    I learned by creating cool software projects 
    relating to challenges in AI, Computer Systems, and games.
  </p>
  
  <p>
    I am continuously motivated to dig into complex problems,
    explore their full scope, and solve them
    simple, precisely targeted methods.
  </p>

  <p>
    Here I hope to share some beautiful complex problems I've encountered
    and their targeted solutions.
  </p>

  <h2>Major Projects</h2>

  {% include gallery.html group="projects" %}


</div>
