---
layout: single
min_height: 4000px;
---

A collection of outdated or mostly finished projects from my past.
If you want to see how I used to write and think about code,
feel free to take a look.

No guarentees about the quality or editing though...


<h2>Neural Posts:</h2>
<hr>
{% include gallery.html group="neural_posts" %}



<h2>Intelligent Code:</h2>
<hr>
{% include gallery.html group="intelligent_code" %}


<h2>Coding Posts:</h2>
<hr>

<p>
    Technique is the foundation of a good programmer. It is just as important for us as for artists, musicians, and athletes. And yet, there are very few guides on how to improve your technique, or what good technique even looks like.
</p>

{% include gallery.html group="coding_posts" %}
