
<div class="gallery">
{% assign sorted_pages = site.pages | sort: "priority" | reverse %}
{% for page in sorted_pages %}
  {% if page.url contains include.group and page.under_construction == false %}
      <div class="entry">
          <a href="{{page.url}}" class="gallery-link">
        <div class="img-entry">
          <img src={% if page.img %}"{{page.img}}"{% else %}"/images/default.png"{% endif %} class="img-entry-content"\>
        </div>
      </a>
        <div class="text-entry">
            <a href="{{page.url}}" class="gallery-link">
                <span class="title-entry">
                  {{ page.title }}
                </span>
            </a>

            {% if page.post_date %}
            <span class="post_date"> ({{page.post_date}}) </span>
            {% endif %}

            <div class="descrip-entry">
              {{ page.excerpt }}
              {% if page.website %}
              <br>
              <a href="{{page.website}}">Website </a>
              {% endif %}

              {% if page.publication %}
              <br>
              <a href="{{page.publication}}">Publication </a>
              {% endif %}

              {% if page.code %}
              <br>
              <a href="{{page.code}}">Code </a>
              {% endif %}
            </div>
        </div>
      </div>
  {% endif %}
{% endfor %}
</div>
